body{
    background-color: azure;
    color: brown;
}

h1{
    font-size: 5em;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    background-color: bisque;
    border:solid rgb(15, 160, 185);
    width: 40%;
    padding: 1%;
    text-align: center;
    margin: 10px 30px 50px;
    border-style: inset;
    border-radius: 50px 30px 20px;
}

/*selector de id*/

#unico{
    background-color: burlywood;
    color: red;
    font-weight: bold;
}

#otro-unico{
    background-color: orchid;
}

/*selector de clase*/

.clave{
    background-color: yellow; /*important*/
}

#promedio{
background-color: orangered;
color: black;
}
