body {
    background-color: violet;
    color: red;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(200px, auto);
}

p{
border: 3px solid red;
}

h5 {
border: 3px solid red;
}


#tipo1 {
    grid-template-rows: 1 / 4;
    grid-row: 1;
    background-color: blueviolet;
}